__test__
.github
.vscode
build
conf
coverage
docker
docs
examples
node_modules
.editorconfig
.env
.eslintignore
.eslintrc.json
.gitignore
.prettierrc
jest.conf.json
README.md
tscofig.json
tsconfig.release.json
